@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Dancing+Script:wght@400..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=League+Spartan:wght@100..900&family=Manufacturing+Consent&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
:root {
    --lead: #212121;
    --gold-finger: #f2bd12;
    --eye-ball: #fffdf7;
    --hint-yellow: #fcf1cc;
    --pure-white: #fff;
}
body {
    background: var(--eye-ball);
}
/* Basic Styling */
a {
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--lead);
}
.flex {
    display: flex;
    align-items: center;
}
li {
    list-style: none;
}
.between {
    justify-content: space-between;
}
.gap-2 {
    gap: 2rem;
}
.gap-3 {
    gap: 3rem;
}
.wrapper {
    max-width: 1400px;
    margin: auto;
    padding-inline: 1.5rem;
}

/* Header Section Styling */
.navbar {
    min-height: 14vh;
}
.logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--gold-finger);
}
.btn {
    display: inline-block;
    padding: .9rem 2rem;
    background: var(--gold-finger);
    border-radius: 1rem;
    font-size: 1.1rem;
    color: var(--pure-white);
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 1px;
    transition: .3s ease-in-out;
}
.btn:hover {
    background: var(--lead);
}
.cart-icon {
    color: var(--lead);
    font-size: 1.3rem;
    position: relative;
}
.cart-icon .cart-value {
    position: absolute;
    top: 50%;
    right: -10px;
    font-size: .85rem;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 100vw;
    background: var(--gold-finger);
    color: var(--lead);
    text-align: center;
    line-height: 20px;
}
.desktop-action .hamburger {
    font-size: 1.5rem;
    display: none;

}
.mobile-menu {
    display: none;
}
/* Main Section Styling */




/* Footer Section Styling */






































/* Media Queries */
@media screen and (max-width:780px) {
    .navlist,
    .desktop-action .btn {
        display: none;
    }
    .desktop-action .hamburger {
        display: block;
    }
    .mobile-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 20rem;
        padding: 2rem;
        background: var(--pure-white);
    }
}